doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='../styles/index-contact.css')
    link(rel='stylesheet' href='../styles/index-animations.css')
    //- link(rel='stylesheet' href='../styles/index-passion-carousel.css')
    link(rel='stylesheet' href='../styles/style.css')
    link(rel='stylesheet' href='../styles/index.css')
    

    
    
    | <script type="importmap">    {        "imports": {        "three": "https://unpkg.com/three@0.150.1/build/three.module.js",        "three/addons/": "https://unpkg.com/three@0.150.1/examples/jsm/"        }    } </script>
    

    title #{title}
body
    .container
        canvas#bg.puff-in-center 
        .components
            .chip
                //-  Chip Modal 1
                #chip-modal1.slide-in-fwd-center
                    .chip__icon
                        img#josh-photo(src='../static/images/Josh.png' alt='A picture of me!')
                    .chip-about-me
                        h1 Joshua Richardson
                        p
                        | As an empassioned developer, I'm happiest when
                        | I am not just solving a problem, but melding with a team to tackle a common goal.
                        p
                        br
                        | I am a veteran who has worked on multiple stacks, and has served in various positions both in leadership and as part both small and large teams.
                    .btn_wrap
                        span Contact
                        .container-contact
                            i.contact-photo
                                a.contact-photo(href='https://www.codewars.com/users/Leaky%20Shoes' target='_blank')
                                    img.contact-photo(src='../static/images/codewars-logo.svg')
                            i.contact-photo
                                a(href='mailto:joshuarichardson1478@gmail.com')
                                    img.contact-photo(src='../static/images/email-logo.png')
                            i.contact-photo
                                a.contact-photo(href='https://www.linkedin.com/in/joshuarichardson1478/' target='_blank')
                                    img.contact-photo(src='../static/images/linkedin-logo.png')
                            i.contact-photo
                                a.contact-photo(href='https://github.com/JoshuaERichardson' target='_blank')
                                    img.contact-photo(src='../static/images/github-logo.png')
                        ion-icon(name='color-palette')
                    .chip__close
                        ion-icon(name='close') 
                #chip-modal2.slide-in-fwd-center
                    include ./partials/passions.pug
                    

                #chip-modal3.slide-in-fwd-center
                    .chip__icon
                        include ./partials/projects-simple.pug
                        
                    .chip__close
                    
                    //- include ./partials/projects.pug
            .segmented-control
                input#tab-1(type='radio' name='radio2' value='3' checked)
                label#tab-1-1.segmented-control__1(for='tab-1')
                    p Me
                input#tab-2(type='radio' name='radio2' value='4')
                label#tab-2-2.segmented-control__2(for='tab-2')
                    p Passions
                input#tab-3(type='radio' name='radio2' value='5')
                label#tab-3-3.segmented-control__3(for='tab-3')
                    p Projects
                .segmented-control__color

script(type="module" src='../js/index.js')

script(async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js")

//- Bootstrap CDN:
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>


link(rel='stylesheet' href='../styles/bootstrap-overwrite.css')



