.chip__icon    
    <div id="carousel-passions" class="carousel slide carousel-fade h-100">
        <div class="carousel-inner h-100">
            <div class="carousel-item h-100 active">
                <img src="../../static/images/josh-lake.jpg" class="d-block mx-auto h-100 h-100 object-fit-scale mx-auto passion-pic" alt="...">
            </div>
            <div class="carousel-item h-100">
                <img src="../../static/images/josh-lake2.jpg" class="d-block h-100 h-100 object-fit-scale mx-auto passion-pic" alt="...">
            </div>
            <div class="carousel-item h-100">
                <img src="../../static/images/gunner.jpg" class="d-block h-100 h-100 object-fit-scale mx-auto passion-pic" alt="...">
            </div>
            <div class="carousel-item h-100">
                <img src="../../static/images/nemo.jpg" class="d-block h-100 h-100 object-fit-scale mx-auto passion-pic" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-passions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-passions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
.chip-about-me.chip-about-me-carousel
    h1 Some things I am passionate about: 
    br
    br
    p I have so many things to be thankful for in my life.  I met my husband here in Colorado back in 2013 while we were both stationed at Fort Carson.
    br 
    p We've grown to love this state and the fact that no matter where you go it looks like a Bob Ross painting.  
    br
    p We have two beautiful dogs, and when I'm not knee deep in code, I'm usually ankle deep in dog hair.
.chip__close

