h1 Scroll down for projects

//- Bootstrap Card:
.card.card-project
    //- Bootstrap Hero Image:
    .card-img-top
        img.card-img-top(src='https://media.wired.com/photos/592722c1af95806129f51b71/master/w_2560%2Cc_limit/MIT-Web-Loading.jpg' alt='Card image cap')
    //- Bootstrap body
    .card-body.card-project-body
        //- Bootstrap Grid body
        .container.project-info-container 
            //- First column for Project description
            .col 
                .project-description
                    //- List
                    ul.project-description-list 
                        li Show cases a glimpse into my life, and an interactive journey through my portfolio.
                        li Uses Express with multiple dependencies to deliver a light framework.
                        li Portfolio walk through written with Three.js tools to enhance human computer interaction.
                        li Uses modern design philosophies such as neumorphism and paginating carousels to attract user attention.

            //- Second column for technologies used and applicable links
            .col.project-link-container
                .row
                    a.btn.btn-primary(href='https://joshuaerichardson.herokuapp.com/' target='_blank') Deployed Site
                .row
                    a.btn.btn-primary(href='https://github.com/JoshuaERichardson/portfolio' target='_blank') GitHub Repo

//- Card for Scheduled Motivation
.card.card-project
    //- Bootstrap Hero Image:
    .card-img-top
        img.card-img-top(src='https://media.wired.com/photos/592722c1af95806129f51b71/master/w_2560%2Cc_limit/MIT-Web-Loading.jpg' alt='Card image cap')
    //- Bootstrap body
    .card-body.card-project-body
        //- Bootstrap Grid body
        .container.project-info-container 
            //- First column for Project description
            .col 
                .project-description
                    //- List
                    ul.project-description-list 
                        li Website that allows user to sign in with Auth0 that allows users to automate their morning, afternoon, or evening YouTube consumptions.  For example, a user will only have to press one button to access their morning workouts or their evening yoga wind down routine.
                        li A “mobile driven development” program written in JavaScript, CSS, Pug, and Mongoose
                        li Uses Node.js, Express, BootstrapMD, and the YouTube API.

            //- Second column for technologies used and applicable links
            .col.project-link-container
                .row
                    a.btn.btn-primary(href='https://scheduled-motivation.herokuapp.com/' target='_blank') Deployed Site
                .row
                    a.btn.btn-primary(href='https://github.com/tlg-23-02-sde-1/scheduled_motivation' target='_blank') GitHub Repo                


//- Card for Fishekai
.card.card-project
    //- Bootstrap Hero Image:
    .card-img-top
        img.card-img-top(src='https://media.wired.com/photos/592722c1af95806129f51b71/master/w_2560%2Cc_limit/MIT-Web-Loading.jpg' alt='Card image cap')
    //- Bootstrap body
    .card-body.card-project-body
        //- Bootstrap Grid body
        .container.project-info-container 
            //- First column for Project description
            .col 
                .project-description
                    //- List
                    ul.project-description-list 
                        li A 2D pixel game allowing a player to explore an island, maintain healthy stats, and search for parts to build a fishing rod.
                        li Written in Java v11 and JSON, while using Swing, Grafx2, GIMP, and Tiled.  Was part of a team of two that used Azure DevOps with customer feedback and user stories within an Agile development environment.
                        li Game engine written from ground up and testing completed with Junit5.


            //- Second column for technologies used and applicable links
            .col.project-link-container
                .row
                    a.btn.btn-primary(href='https://youtu.be/5dUaj1K7BCc' target='_blank') Youtube Demo
                .row
                    a.btn.btn-primary(href='https://github.com/JoshuaERichardson/Fishekai' target='_blank') GitHub Repo

//- Card for Vacations Wish List
.card.card-project
    //- Bootstrap Hero Image:
    .card-img-top
        img.card-img-top(src='https://media.wired.com/photos/592722c1af95806129f51b71/master/w_2560%2Cc_limit/MIT-Web-Loading.jpg' alt='Card image cap')
    //- Bootstrap body
    .card-body.card-project-body
        //- Bootstrap Grid body
        .container.project-info-container 
            //- First column for Project description
            .col 
                .project-description
                    //- List
                    ul.project-description-list 
                        li Full CRUD website focused on APIs by using Auth0 for authorized sign ins, MongoDB for user persistence, and Unsplash API to assign an appropriate picture to the user’s input.
                        li Uses Node.js, Express, PUG, CSS, Bootstrap, and Mongoose for MongoDB. 
            //- Second column for technologies used and applicable links
            .col.project-link-container
                .row
                    a.btn.btn-primary(href='https://vacations-wish-list.herokuapp.com/' target='_blank') Deployed Site
                .row
                    a.btn.btn-primary(href='https://github.com/JoshuaERichardson/vacations-wish-list' target='_blank') GitHub Repo

//- Card for Vacations Pomodoro
.card.card-project
    //- Bootstrap Hero Image:
    .card-img-top
        img.card-img-top(src='https://media.wired.com/photos/592722c1af95806129f51b71/master/w_2560%2Cc_limit/MIT-Web-Loading.jpg' alt='Card image cap')
    //- Bootstrap body
    .card-body.card-project-body
        //- Bootstrap Grid body
        .container.project-info-container 
            //- First column for Project description
            .col 
                .project-description
                    //- List
                    ul.project-description-list 
                        li Built in collaboration with three other developers with Agile methodology assisted with Jira platform technology.
                        li Resourced with multiple API’s for an enhanced UX .
                        li Using Python with Django framework, enhanced with single page application asynchronistic approaches to save on server costs.
                        li Solves the problem of user “distractions” by separating work and relax intervals while allowing the user to watch preferred videos during their break, and choosing environment enhancing music during their work sprint.

            //- Second column for technologies used and applicable links
            .col.project-link-container
                .row
                    a.btn.btn-primary(href='https://pomodoropanda.herokuapp.com/' target='_blank') Deployed Site
                .row
                    a.btn.btn-primary(href='https://github.com/JoshuaERichardson/pomodoro' target='_blank') GitHub Repo



//- Bootstrap CDN:
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

//- Custom CSS:
<link rel="stylesheet" href="../styles/projects-simple-styles.css">
